## MIPs Adjustable Weight

In [1]:
import random
from ortools.linear_solver import pywraplp

In [2]:
def solve_student_project_assignment(students, projects, project_preferences, student_preferences, project_pref_weight, student_pref_weight):
    solver = pywraplp.Solver.CreateSolver('SCIP')
    if not solver:
        print("Solver not found")
        return

    # Decision variables for project assignment
    x = {}
    for s in students:
        for p in projects:
            if students[s]['major'] in projects[p]['majors']:
                x[s, p] = solver.BoolVar(f'x[{s},{p}]')

    # Decision variables for student pair preferences
    y = {}
    for s1 in student_preferences:
        for s2 in student_preferences[s1]:
            y[s1, s2] = solver.BoolVar(f'y[{s1},{s2}]')

    # Hard constraints
    # Each student must be assigned 1 project
    for s in students:
        solver.Add(solver.Sum([x[s, p] for p in projects if (s, p) in x]) == 1)

    # Do not exceed maximum number of students in a major for each project
    for p in projects:
        for m in projects[p]['majors']:
            solver.Add(solver.Sum([x[s, p] for s in students if students[s]['major'] == m and (s, p) in x]) <= projects[p]['majors'][m])

    # Student-student pairing preferences constraints
    for s1 in student_preferences:
        for s2 in student_preferences[s1]:
            for p in projects:
                if (s1, p) in x and (s2, p) in x:
                    solver.Add(y[s1, s2] <= x[s1, p])
                    solver.Add(y[s1, s2] <= x[s2, p])

    # Soft constraints
    # Adjusting the project preferences weight based on preference order
    project_preferences_score = solver.Sum([project_pref_weight * (len(project_preferences[s]) - project_preferences[s].index(p)) * x[s, p]
                                           for s in project_preferences
                                           for p in project_preferences[s]
                                           if (s, p) in x])
    
    student_preferences_score = solver.Sum([student_pref_weight * y[s1, s2]
                                            for s1 in student_preferences
                                            for s2 in student_preferences[s1]])

    # Objective function
    solver.Maximize(project_preferences_score + student_preferences_score)

    # Solve the problem
    status = solver.Solve()

    # Output the solution
    solution = []
    if status == pywraplp.Solver.OPTIMAL:
        # print('Solution:')
        for s in students:
            for p in projects:
                if (s, p) in x and x[s, p].solution_value() > 0.5:
                    solution.append({'student': s, 'project': p})
                    # print(f'Student {s} is assigned to project {p}')
        return solution
    else:
        print('The problem does not have an optimal solution.')
        return None

In [20]:
# Example Usage
students = {
    'Alice': {'major': 'Computer Science'},
    'Bob': {'major': 'Engineering'},
    'Joe': {'major': 'Engineering'},
    'Ben': {'major': 'Engineering'},
    'Jared': {'major': 'Computer Science'},
    'Bella': {'major': 'Computer Science'},
    # Add other students
}

projects = {
    'Project1': {'majors': {'Computer Science': 2, 'Engineering': 2}},
    'Project2': {'majors': {'Computer Science': 2, 'Engineering': 2}},
    # Add other projects
}

project_preferences = {
    'Alice': ['Project1', 'Project2'],
    'Bob': ['Project2', 'Project1'],
    'Joe': ['Project2', 'Project1'],
    'Ben': ['Project2', 'Project1'],
    'Jared': ['Project1', 'Project2'],
    'Bella': ['Project1', 'Project2'],
    # Add other project preferences
}

student_preferences = {
    'Alice': ['Joe'],
    'Joe': ['Ben'],
    # Add other student preferences
}

solve_student_project_assignment(students, projects, project_preferences, student_preferences, project_pref_weight=1, student_pref_weight=1)

[{'student': 'Alice', 'project': 'Project1'},
 {'student': 'Bob', 'project': 'Project2'},
 {'student': 'Joe', 'project': 'Project1'},
 {'student': 'Ben', 'project': 'Project2'},
 {'student': 'Jared', 'project': 'Project1'},
 {'student': 'Bella', 'project': 'Project2'}]

## Import Data

In [4]:
import pandas as pd
import json

In [5]:
students_df = pd.read_csv('students.csv', index_col=0)
students_df = students_df.set_index('id')
students_df = students_df.rename(columns={'Name': 'name', 'Degree': 'degree', 'Other_desc': 'desc', 'Major': 'major'})
students_df['project_order'] = students_df['project_order'].apply(lambda x: x[1:-1].replace("'", "").replace(" ", "").split(','))
students_df

,name,degree,desc,secondary_skills,project_order,major
id,,,,,,
0,"Dechant, Bradley",Mechanical Engineering,Other,"['Additive manufacturing', 'Circuit design', '...","[F23-11, F23-14, F23-50, F23-09, F23-64, F23-6...",ME
1,"Drosselmeyer, Dillon",Mechanical Eng - Aerospace,Professional project management experience,"['Advance manufacturing courses, but not takin...","[F23-50, F23-51, F23-87, F23-88, F23-77, F23-7...",ME
3,"Crane, Michael",Mechanical Eng - Aerospace,NaN,"['Circuit design', 'Microcontroller interfacin...","[F23-63, F23-111, F23-75, F23-77, F23-73, F23-...",ME
4,"Elliott, Tanner",Mechanical Engineering,NaN,"['Additive manufacturing', 'Advance manufactur...","[F23-60, F23-72, F23-51, F23-116, F23-101, F23...",ME
5,"Apted, Michaelan",Mechanical Engineering,NaN,"['Ecology', 'Structural engineering']","[F23-111, F23-92, F23-75, F23-80, F23-112, F23...",ME
...,...,...,...,...,...,...
435,"Sarff, Christopher",EE-Antenn & Wirels Comm Spclty,Leadership,"['Circuit design', 'Construction engineering',...","[F23-64, F23-63, F23-89, F23-88, F23-17.1, F23...",EE
436,"Noel, Reece",Mechanical Engineering,NaN,"['Circuit design', 'Construction engineering',...","[F23-63, F23-64, F23-13, F23-61, F23-62, F23-6...",ME
437,"Araki, Shuta",Electrical Engineering,NaN,"['Automotive experience', 'Construction engine...","[F23-111, F23-17.2, F23-17.1, F23-52, F23-20, ...",EE
438,"Gimadeyeva, Alexandra",Mechanical Eng - Energy,NaN,"['Advance manufacturing courses, but not takin...","[F23-101, F23-102, F23-17.2, F23-17.1, F23-63,...",ME
439,"Hodges, Thomas",Environmental Engineering,NaN,"['AutoCAD', 'Computer Science classes (e.g. CS...","[F23-27, F23-22, F23-32, F23-31, F23-33, F23-2...",Env.

In [6]:
students = students_df[['major']].to_dict(orient='index')

In [10]:
students

{0: {'major': 'ME'},
 1: {'major': 'ME'},
 3: {'major': 'ME'},
 4: {'major': 'ME'},
 5: {'major': 'ME'},
 6: {'major': 'ME'},
 7: {'major': 'EE'},
 8: {'major': 'Env.'},
 9: {'major': 'EE'},
 10: {'major': 'ME'},
 11: {'major': 'EE'},
 12: {'major': 'ME'},
 13: {'major': 'ME'},
 14: {'major': 'ME'},
 15: {'major': 'ME'},
 16: {'major': 'ME'},
 17: {'major': 'Env.'},
 18: {'major': 'ME'},
 19: {'major': 'CE'},
 20: {'major': 'ME'},
 21: {'major': 'ME'},
 22: {'major': 'ME'},
 23: {'major': 'ME'},
 24: {'major': 'ME'},
 25: {'major': 'ME'},
 26: {'major': 'ME'},
 27: {'major': 'ME'},
 28: {'major': 'CE'},
 29: {'major': 'ME'},
 30: {'major': 'ME'},
 31: {'major': 'EE'},
 32: {'major': 'CE'},
 33: {'major': 'ME'},
 34: {'major': 'CE'},
 35: {'major': 'ME'},
 36: {'major': 'EE'},
 37: {'major': 'CE'},
 38: {'major': 'Env.'},
 39: {'major': 'ME'},
 40: {'major': 'EE'},
 41: {'major': 'CE'},
 42: {'major': 'ME'},
 43: {'major': 'ME'},
 44: {'major': 'ME'},
 45: {'major': 'Env.'},
 46: {'major': 'ME'},
 47: {'major': 'ME'},
 48: {'major': 'ME'},
 49: {'major': 'ME'},
 52: {'major': 'ME'},
 53: {'major': 'ME'},
 54: {'major': 'CE'},
 55: {'major': 'ME'},
 56: {'major': 'ME'},
 57: {'major': 'ME'},
 58: {'major': 'ME'},
 59: {'major': 'ME'},
 60: {'major': 'ME'},
 61: {'major': 'ME'},
 62: {'major': 'ME'},
 63: {'major': 'ME'},
 64: {'major': 'ME'},
 65: {'major': 'ME'},
 66: {'major': 'ME'},
 67: {'major': 'ME'},
 68: {'major': 'ME'},
 69: {'major': 'ME'},
 70: {'major': 'EE'},
 71: {'major': 'ME'},
 72: {'major': 'ME'},
 73: {'major': 'ME'},
 74: {'major': 'ME'},
 75: {'major': 'Env.'},
 76: {'major': 'ME'},
 77: {'major': 'ME'},
 78: {'major': 'ME'},
 79: {'major': 'CE'},
 80: {'major': 'CE'},
 81: {'major': 'ME'},
 82: {'major': 'CE'},
 83: {'major': 'ME'},
 84: {'major': 'EE'},
 85: {'major': 'ME'},
 86: {'major': 'ME'},
 87: {'major': 'ME'},
 88: {'major': 'CE'},
 89: {'major': 'ME'},
 90: {'major': 'EE'},
 91: {'major': 'Other'},
 92: {'major': 'ME'},
 93: {'major': 'EE'},
 94: {'major': 'ME'},
 95: {'major': 'ME'},
 96: {'major': 'CE'},
 97: {'major': 'ME'},
 98: {'major': 'ME'},
 99: {'major': 'CE'},
 100: {'major': 'EE'},
 101: {'major': 'ME'},
 102: {'major': 'ME'},
 103: {'major': 'ME'},
 104: {'major': 'EE'},
 105: {'major': 'CE'},
 106: {'major': 'ME'},
 107: {'major': 'ME'},
 108: {'major': 'ME'},
 109: {'major': 'ME'},
 110: {'major': 'ME'},
 111: {'major': 'ME'},
 112: {'major': 'Other'},
 113: {'major': 'ME'},
 114: {'major': 'ME'},
 115: {'major': 'ME'},
 116: {'major': 'CE'},
 117: {'major': 'ME'},
 118: {'major': 'ME'},
 119: {'major': 'EE'},
 120: {'major': 'ME'},
 121: {'major': 'ME'},
 122: {'major': 'CE'},
 123: {'major': 'EE'},
 124: {'major': 'ME'},
 125: {'major': 'ME'},
 126: {'major': 'EE'},
 127: {'major': 'ME'},
 128: {'major': 'EE'},
 129: {'major': 'ME'},
 130: {'major': 'CE'},
 131: {'major': 'CE'},
 132: {'major': 'EE'},
 133: {'major': 'ME'},
 134: {'major': 'CE'},
 135: {'major': 'ME'},
 136: {'major': 'ME'},
 137: {'major': 'ME'},
 138: {'major': 'ME'},
 139: {'major': 'ME'},
 140: {'major': 'ME'},
 141: {'major': 'EE'},
 142: {'major': 'EE'},
 143: {'major': 'CE'},
 144: {'major': 'ME'},
 145: {'major': 'ME'},
 146: {'major': 'ME'},
 147: {'major': 'ME'},
 148: {'major': 'ME'},
 149: {'major': 'EE'},
 150: {'major': 'ME'},
 151: {'major': 'Env.'},
 152: {'major': 'EE'},
 153: {'major': 'ME'},
 154: {'major': 'ME'},
 155: {'major': 'ME'},
 156: {'major': 'CE'},
 157: {'major': 'ME'},
 158: {'major': 'ME'},
 159: {'major': 'CE'},
 160: {'major': 'ME'},
 161: {'major': 'ME'},
 162: {'major': 'EE'},
 163: {'major': 'ME'},
 164: {'major': 'EE'},
 165: {'major': 'ME'},
 166: {'major': 'ME'},
 167: {'major': 'ME'},
 168: {'major': 'CE'},
 169: {'major': 'ME'},
 170: {'major': 'ME'},
 171: {'major': 'EE'},
 172: {'major': 'ME'},
 173: {'major': 'ME'},
 174: {'major': 'Env.'},
 175: {'major': 'EE'},
 176: {'major': 'ME'},
 177: {'major': 'ME'},
 178: {'major': 'CE'},
 179: {'major': 'ME'},
 180: {'major': 'ME'},
 181: {'major': 'CE'},
 182: {'major': 'CE'},
 183: {'major': 'ME'},
 184: {'major': 'ME'},
 185: {'major': 'ME'},
 186: {'major': 'ME'},
 187: {'major': 'EE'},
 188: {'major': 'ME'},
 189: {'major': 'ME'},
 190: {'major': 'ME'},
 191: {'major': 'ME'},
 192: {'major': 'ME'},
 193: {'major': 'EE'},
 194: {'major': 'Env.'},
 195: {'major': 'CE'},
 196: {'major': 'EE'},
 197: {'major': 'ME'},
 199: {'major': 'ME'},
 200: {'major': 'CE'},
 201: {'major': 'EE'},
 202: {'major': 'ME'},
 203: {'major': 'ME'},
 204: {'major': 'ME'},
 205: {'major': 'Env.'},
 206: {'major': 'EE'},
 207: {'major': 'ME'},
 208: {'major': 'Env.'},
 209: {'major': 'CE'},
 210: {'major': 'ME'},
 211: {'major': 'EE'},
 212: {'major': 'EE'},
 213: {'major': 'ME'},
 214: {'major': 'Env.'},
 215: {'major': 'ME'},
 216: {'major': 'ME'},
 217: {'major': 'ME'},
 218: {'major': 'ME'},
 219: {'major': 'ME'},
 221: {'major': 'ME'},
 222: {'major': 'ME'},
 223: {'major': 'Env.'},
 224: {'major': 'ME'},
 225: {'major': 'ME'},
 226: {'major': 'ME'},
 227: {'major': 'EE'},
 228: {'major': 'ME'},
 229: {'major': 'ME'},
 230: {'major': 'CE'},
 231: {'major': 'ME'},
 232: {'major': 'ME'},
 233: {'major': 'ME'},
 234: {'major': 'EE'},
 235: {'major': 'Env.'},
 236: {'major': 'Other'},
 237: {'major': 'Env.'},
 238: {'major': 'CE'},
 239: {'major': 'EE'},
 240: {'major': 'EE'},
 241: {'major': 'ME'},
 242: {'major': 'ME'},
 243: {'major': 'EE'},
 244: {'major': 'ME'},
 245: {'major': 'EE'},
 246: {'major': 'Env.'},
 247: {'major': 'Env.'},
 248: {'major': 'ME'},
 249: {'major': 'ME'},
 250: {'major': 'EE'},
 251: {'major': 'ME'},
 252: {'major': 'ME'},
 253: {'major': 'EE'},
 254: {'major': 'CE'},
 255: {'major': 'EE'},
 256: {'major': 'ME'},
 257: {'major': 'ME'},
 258: {'major': 'ME'},
 259: {'major': 'ME'},
 260: {'major': 'ME'},
 261: {'major': 'ME'},
 262: {'major': 'ME'},
 263: {'major': 'CE'},
 264: {'major': 'ME'},
 265: {'major': 'ME'},
 266: {'major': 'CE'},
 267: {'major': 'ME'},
 268: {'major': 'EE'},
 269: {'major': 'CE'},
 270: {'major': 'EE'},
 271: {'major': 'ME'},
 272: {'major': 'ME'},
 273: {'major': 'EE'},
 274: {'major': 'EE'},
 275: {'major': 'Other'},
 276: {'major': 'EE'},
 277: {'major': 'ME'},
 278: {'major': 'ME'},
 279: {'major': 'ME'},
 280: {'major': 'ME'},
 281: {'major': 'ME'},
 282: {'major': 'CE'},
 283: {'major': 'ME'},
 284: {'major': 'ME'},
 285: {'major': 'ME'},
 286: {'major': 'ME'},
 287: {'major': 'ME'},
 288: {'major': 'ME'},
 289: {'major': 'Env.'},
 290: {'major': 'ME'},
 292: {'major': 'EE'},
 293: {'major': 'Other'},
 294: {'major': 'ME'},
 295: {'major': 'ME'},
 296: {'major': 'EE'},
 297: {'major': 'CE'},
 298: {'major': 'CE'},
 299: {'major': 'ME'},
 300: {'major': 'CE'},
 301: {'major': 'ME'},
 302: {'major': 'ME'},
 303: {'major': 'ME'},
 304: {'major': 'ME'},
 305: {'major': 'EE'},
 306: {'major': 'ME'},
 307: {'major': 'EE'},
 308: {'major': 'EE'},
 309: {'major': 'CE'},
 310: {'major': 'ME'},
 311: {'major': 'Other'},
 312: {'major': 'ME'},
 313: {'major': 'ME'},
 314: {'major': 'CE'},
 315: {'major': 'ME'},
 316: {'major': 'ME'},
 317: {'major': 'CE'},
 318: {'major': 'CE'},
 319: {'major': 'ME'},
 320: {'major': 'ME'},
 321: {'major': 'EE'},
 322: {'major': 'ME'},
 323: {'major': 'ME'},
 324: {'major': 'EE'},
 325: {'major': 'ME'},
 326: {'major': 'ME'},
 327: {'major': 'CE'},
 328: {'major': 'ME'},
 329: {'major': 'CE'},
 330: {'major': 'CE'},
 331: {'major': 'ME'},
 332: {'major': 'CE'},
 333: {'major': 'EE'},
 334: {'major': 'EE'},
 335: {'major': 'ME'},
 336: {'major': 'ME'},
 337: {'major': 'EE'},
 338: {'major': 'EE'},
 339: {'major': 'ME'},
 340: {'major': 'Other'},
 341: {'major': 'Env.'},
 342: {'major': 'ME'},
 343: {'major': 'ME'},
 345: {'major': 'ME'},
 346: {'major': 'CE'},
 347: {'major': 'ME'},
 348: {'major': 'ME'},
 349: {'major': 'ME'},
 350: {'major': 'Env.'},
 351: {'major': 'ME'},
 352: {'major': 'ME'},
 353: {'major': 'CE'},
 354: {'major': 'Env.'},
 355: {'major': 'CE'},
 356: {'major': 'Env.'},
 357: {'major': 'EE'},
 358: {'major': 'ME'},
 359: {'major': 'ME'},
 360: {'major': 'EE'},
 361: {'major': 'EE'},
 362: {'major': 'Other'},
 363: {'major': 'CE'},
 364: {'major': 'CE'},
 365: {'major': 'Env.'},
 366: {'major': 'ME'},
 367: {'major': 'ME'},
 368: {'major': 'ME'},
 369: {'major': 'CE'},
 370: {'major': 'Env.'},
 371: {'major': 'ME'},
 372: {'major': 'CE'},
 373: {'major': 'EE'},
 374: {'major': 'ME'},
 375: {'major': 'ME'},
 376: {'major': 'ME'},
 377: {'major': 'CE'},
 378: {'major': 'ME'},
 379: {'major': 'ME'},
 380: {'major': 'CE'},
 381: {'major': 'EE'},
 382: {'major': 'ME'},
 383: {'major': 'Other'},
 384: {'major': 'ME'},
 385: {'major': 'ME'},
 386: {'major': 'Env.'},
 388: {'major': 'CE'},
 389: {'major': 'CE'},
 390: {'major': 'ME'},
 391: {'major': 'ME'},
 392: {'major': 'Env.'},
 393: {'major': 'ME'},
 394: {'major': 'ME'},
 395: {'major': 'Other'},
 396: {'major': 'ME'},
 397: {'major': 'ME'},
 398: {'major': 'ME'},
 399: {'major': 'EE'},
 400: {'major': 'CE'},
 401: {'major': 'EE'},
 402: {'major': 'CE'},
 403: {'major': 'ME'},
 404: {'major': 'Other'},
 405: {'major': 'ME'},
 406: {'major': 'Env.'},
 407: {'major': 'ME'},
 408: {'major': 'ME'},
 409: {'major': 'ME'},
 410: {'major': 'Env.'},
 411: {'major': 'ME'},
 412: {'major': 'ME'},
 413: {'major': 'EE'},
 414: {'major': 'ME'},
 415: {'major': 'CE'},
 416: {'major': 'EE'},
 417: {'major': 'Env.'},
 418: {'major': 'CE'},
 419: {'major': 'EE'},
 420: {'major': 'EE'},
 421: {'major': 'Other'},
 422: {'major': 'EE'},
 423: {'major': 'ME'},
 424: {'major': 'EE'},
 425: {'major': 'EE'},
 426: {'major': 'ME'},
 427: {'major': 'EE'},
 428: {'major': 'ME'},
 429: {'major': 'EE'},
 430: {'major': 'EE'},
 431: {'major': 'ME'},
 432: {'major': 'ME'},
 433: {'major': 'ME'},
 434: {'major': 'ME'},
 435: {'major': 'EE'},
 436: {'major': 'ME'},
 437: {'major': 'EE'},
 438: {'major': 'ME'},
 439: {'major': 'Env.'}}

In [12]:
project_preferences = students_df[['project_order']].to_dict(orient='dict')['project_order']

In [13]:
projects_df = pd.read_csv('projects.csv', index_col=0)
projects_df = projects_df.rename(columns={'ID': 'id', 'Project name': 'project_name', 'Sponsor': 'sponsor', 'majors_requested': 'majors'})
projects_df['majors'] = projects_df['majors'].apply(lambda x: json.loads(x))
projects_df = projects_df.set_index('id')
projects_df.head(3)

,project_name,sponsor,majors
id,,,
F23-01,AISC Steel Bridge - Team #1,AISC,"{'CE': 7, 'Env.': 0, 'EE': 0, 'ME': 0, 'DE': 0..."
F23-02,AISC Steel Bridge - Team #2,AISC,"{'CE': 7, 'Env.': 0, 'EE': 0, 'ME': 0, 'DE': 0..."
F23-03,ASCE Concrete Canoe,ASCE,"{'CE': 7, 'Env.': 0, 'EE': 0, 'ME': 0, 'DE': 0..."

In [14]:
projects = projects_df.to_dict(orient='index')

## Solve

In [15]:
solution = solve_student_project_assignment(students, projects, project_preferences, student_preferences, project_pref_weight=1, student_pref_weight=1)
solution = pd.DataFrame(solution)

In [16]:
student_merge = pd.merge(left=students_df, right=solution, left_index=True, right_on='student')
results = pd.merge(left=student_merge, right=projects_df, left_on='project', right_index=True).sort_values('student')

In [17]:
results[['student', 'name', 'degree', 'major', 'desc', 'secondary_skills', 'project_order', 'project', 'project_name', 'sponsor', 'majors']]

,student,name,degree,major,desc,secondary_skills,project_order,project,project_name,sponsor,majors
0,0,"Dechant, Bradley",Mechanical Engineering,ME,Other,"['Additive manufacturing', 'Circuit design', '...","[F23-11, F23-14, F23-50, F23-09, F23-64, F23-6...",F23-11,NASA Robotic Mining Competition - Lunabotics,NASA & Mines Space Resources,"{'CE': 0, 'Env.': 0, 'EE': 1, 'ME': 8, 'DE': 0..."
1,1,"Drosselmeyer, Dillon",Mechanical Eng - Aerospace,ME,Professional project management experience,"['Advance manufacturing courses, but not takin...","[F23-50, F23-51, F23-87, F23-88, F23-77, F23-7...",F23-50,3-Dimensional Oscillating Heat Pipes for Addit...,Ball Aerospace,"{'CE': 0, 'Env.': 0, 'EE': 0, 'ME': 6, 'DE': 0..."
2,3,"Crane, Michael",Mechanical Eng - Aerospace,ME,NaN,"['Circuit design', 'Microcontroller interfacin...","[F23-63, F23-111, F23-75, F23-77, F23-73, F23-...",F23-63,Restoration 1930 Ford Model A Flatbed Steak Truck,FRAPA,"{'CE': 0, 'Env.': 0, 'EE': 1, 'ME': 7, 'DE': 0..."
3,4,"Elliott, Tanner",Mechanical Engineering,ME,NaN,"['Additive manufacturing', 'Advance manufactur...","[F23-60, F23-72, F23-51, F23-116, F23-101, F23...",F23-72,Next Generation Telemark Binding,Bishop Telemark,"{'CE': 0, 'Env.': 0, 'EE': 0, 'ME': 4, 'DE': 1..."
4,5,"Apted, Michaelan",Mechanical Engineering,ME,NaN,"['Ecology', 'Structural engineering']","[F23-111, F23-92, F23-75, F23-80, F23-112, F23...",F23-80,"Skeletal Range of Motion Tracking, Analysis, a...",Vanderbilt University Medical Center,"{'CE': 0, 'Env.': 0, 'EE': 2, 'ME': 5, 'DE': 1..."
...,...,...,...,...,...,...,...,...,...,...,...
427,435,"Sarff, Christopher",EE-Antenn & Wirels Comm Spclty,EE,Leadership,"['Circuit design', 'Construction engineering',...","[F23-64, F23-63, F23-89, F23-88, F23-17.1, F23...",F23-64,ICE Swap to Electric in Sunbeam Classic Car (II),Thomas Eyers,"{'CE': 0, 'Env.': 2, 'EE': 3, 'ME': 3, 'DE': 0..."
428,436,"Noel, Reece",Mechanical Engineering,ME,NaN,"['Circuit design', 'Construction engineering',...","[F23-63, F23-64, F23-13, F23-61, F23-62, F23-6...",F23-64,ICE Swap to Electric in Sunbeam Classic Car (II),Thomas Eyers,"{'CE': 0, 'Env.': 2, 'EE': 3, 'ME': 3, 'DE': 0..."
429,437,"Araki, Shuta",Electrical Engineering,EE,NaN,"['Automotive experience', 'Construction engine...","[F23-111, F23-17.2, F23-17.1, F23-52, F23-20, ...",F23-17.2,Jefferson County Campus Solar Resources Evalua...,Jefferson County,"{'CE': 1, 'Env.': 0, 'EE': 2, 'ME': 2, 'DE': 0..."
430,438,"Gimadeyeva, Alexandra",Mechanical Eng - Energy,ME,NaN,"['Advance manufacturing courses, but not takin...","[F23-101, F23-102, F23-17.2, F23-17.1, F23-63,...",F23-101,Electroluminescence Camera Support Structure,BrightSpot Automation,"{'CE': 0, 'Env.': 0, 'EE': 2, 'ME': 3, 'DE': 0..."
431,439,"Hodges, Thomas",Environmental Engineering,Env.,NaN,"['AutoCAD', 'Computer Science classes (e.g. CS...","[F23-27, F23-22, F23-32, F23-31, F23-33, F23-2...",F23-27,Creekside Park Hill Stabilization,City of Wheat Ridge,"{'CE': 3, 'Env.': 2, 'EE': 0, 'ME': 0, 'DE': 0..."

In [18]:
# results.to_csv('mips_solution.csv')

## Analysis

In [80]:
def get_majors_by_project(lst):
    freq_dict = {}
    for el in lst:
        if el in freq_dict:
            freq_dict[el] += 1
        else:
            freq_dict[el] = 1
    res = list(freq_dict.items())
    res.sort(key=lambda x: x[1], reverse=True)
    return dict(res)

majors_by_project = results[['major', 'project', 'student']].groupby(['project']).agg({'major': ', '.join}).reset_index()
majors_by_project['major'] = majors_by_project['major'].apply(lambda x: x.split(', ')) # convert to list
majors_by_project['major'] = majors_by_project['major'].apply(lambda x: get_majors_by_project(x))
majors_by_project = majors_by_project.rename(columns={'major': 'majors_assigned'})
majors_by_project['students_assigned'] = majors_by_project['majors_assigned'].apply(lambda x: sum(x.values()))
majors_by_project = pd.merge(left=majors_by_project, right=projects_df, left_on='project', right_on='id')
majors_by_project['students_asked'] = majors_by_project['majors'].apply(lambda x: sum(x.values()))
majors_by_project.sort_values('students_assigned')

,project,majors_assigned,students_assigned,project_name,sponsor,majors,students_asked
2,F23- 115,{'EE': 1},1,The Ball Buddy,Sure Win LLC,"{'CE': 0, 'Env.': 0, 'EE': 1, 'ME': 5, 'DE': 0...",6
7,F23-06,{'Env.': 2},2,South Platte Renew Process Upgrades,RMWEA Competition,"{'CE': 2, 'Env.': 2, 'EE': 0, 'ME': 0, 'DE': 2...",6
0,F23 - 112,{'ME': 3},3,Temperature Controlled dog kennel,Daniel Caddy - Student Led,"{'CE': 0, 'Env.': 0, 'EE': 2, 'ME': 3, 'DE': 1...",6
26,F23-17.5,{'ME': 3},3,Campus Food Pantry Design Optimization,Estelle Cronmille - Student Led,"{'CE': 0, 'Env.': 0, 'EE': 0, 'ME': 3, 'DE': 1...",4
12,F23-100,{'ME': 3},3,Drying of mixed air/water stream in hydropower...,Flotation Pumping Company,"{'CE': 0, 'Env.': 1, 'EE': 0, 'ME': 3, 'DE': 2...",7
...,...,...,...,...,...,...,...
45,F23-60,"{'ME': 6, 'EE': 4, 'Other': 1}",11,Multi-Axis Racecar Simulator,ME Department,"{'CE': 0, 'Env.': 0, 'EE': 4, 'ME': 6, 'DE': 0...",11
6,F23-04,"{'ME': 6, 'CE': 5}",11,ASCE Timber Strong Competition,ASCE,"{'CE': 5, 'Env.': 0, 'EE': 0, 'ME': 8, 'DE': 0...",13
19,F23-13,"{'ME': 11, 'EE': 1}",12,Shell Eco-Marathon,Shell,"{'CE': 0, 'Env.': 0, 'EE': 1, 'ME': 11, 'DE': ...",12
46,F23-61,"{'ME': 12, 'EE': 4, 'Other': 1}",17,Quick Swap Modular EV Powertrain,ME Department,"{'CE': 0, 'Env.': 0, 'EE': 4, 'ME': 12, 'DE': ...",17
21,F23-15,"{'ME': 35, 'EE': 2}",37,HCDS,HCDS,"{'CE': 0, 'Env.': 0, 'EE': 2, 'ME': 35, 'DE': ...",37