In [5]:
from pymongo import MongoClient
import pandas as pd
import pymongo
import json

In [6]:
client = MongoClient("mongodb://root:example@mongo:27017/")

In [7]:
# Get student data
def load_student_data(file_path):
    students_df = pd.read_csv(file_path, index_col=0)
    # students_df = students_df.set_index('id')
    students_df = students_df.rename(columns={
        'Name': 'name',
        'Degree': 'degree',
        'Other_desc': 'desc',
        'Major': 'major'})
    students_df['project_order'] = students_df['project_order'].apply(lambda x: x[1:-1].replace("'", "").replace(" ", "").split(','))
    return students_df

# Get project data
def load_project_data(file_path):
    projects_df = pd.read_csv(file_path, index_col=0)
    projects_df = projects_df.rename(columns={
        'ID': 'id',
        'Project name': 'project_name',
        'Sponsor': 'sponsor',
        'majors_requested': 'majors'})
    projects_df['majors'] = projects_df['majors'].apply(lambda x: json.loads(x))
    # projects_df = projects_df.set_index('id')
    return projects_df

def insert_mongo_data(data, collection: str, database: str, client):
    db = client[database]
    collec = db[collection]

    if collection not in db.list_collection_names():
        collection_ids = collec.insert_many(data)

    return db, collec

from pymongo import MongoClient

def retrieve_all(database, collection, client):
    """
    Retrieve all documents from a MongoDB collection.

    Args:
    database (str): The name of the database.
    collection (str): The name of the collection.
    client (MongoClient): The MongoClient object to connect to MongoDB.

    Returns:
    list: A list of dictionaries representing the documents.
    """
    db = client[database]
    student_collection = db[collection]
    return list(student_collection.find({}))

In [4]:
students_df = load_student_data('../data/students.csv')
projects_df = load_project_data('../data/projects.csv')

students = [
    {'name': 'Alice', 'major': 'Computer Science', 'project_preferences': ['Project1', 'Project2'], 'student_preferences': ['Joe']},
    {'name': 'Bob', 'major': 'Engineering', 'project_preferences': ['Project2', 'Project1'], 'student_preferences': []},
    {'name': 'Joe', 'major': 'Engineering', 'project_preferences': ['Project2', 'Project1'], 'student_preferences': ['Ben']},
    {'name': 'Ben', 'major': 'Engineering', 'project_preferences': ['Project2', 'Project1'], 'student_preferences': []},
    {'name': 'Jared', 'major': 'Computer Science', 'project_preferences': ['Project1', 'Project2'], 'student_preferences': []},
    {'name': 'Bella', 'major': 'Computer Science', 'project_preferences': ['Project1', 'Project2'], 'student_preferences': []}
]

projects = [
    {'name': 'Project1', 'majors': {'Computer Science': 2, 'Engineering': 2}},
    {'name': 'Project2', 'majors': {'Computer Science': 2, 'Engineering': 2}}
]

In [8]:
# Insert student records
db, student_col = insert_mongo_data(students,
                                  collection="students",
                                  database="sorting-hat",
                                  client=client)

In [9]:
# Insert project records
db, project_col = insert_mongo_data(projects,
                                  collection="projects",
                                  database="sorting-hat",
                                  client=client)

In [10]:
# Assuming student_collec is your collection from MongoDB
df = pd.DataFrame(list(student_col.find()))
df

,_id,name,major,project_preferences,student_preferences
0,662d45925b8b90350b66995a,Alice,Computer Science,"[Project1, Project2]",[Joe]
1,662d45925b8b90350b66995b,Bob,Engineering,"[Project2, Project1]",[]
2,662d45925b8b90350b66995c,Joe,Engineering,"[Project2, Project1]",[Ben]
3,662d45925b8b90350b66995d,Ben,Engineering,"[Project2, Project1]",[]
4,662d45925b8b90350b66995e,Jared,Computer Science,"[Project1, Project2]",[]
5,662d45925b8b90350b66995f,Bella,Computer Science,"[Project1, Project2]",[]

In [10]:
df = pd.DataFrame(list(project_col.find({}, {"name": 1, "_id": 0})))
project_names = list(set([project['name'] for project in project_col.find({}, {"name": 1, "_id": 0})]))
project_names

def get_unique_project_names(collection='project_col'):
    unique_projects = {}
    for project in collection.find({}, {"name": 1, "_id": 1}):
        unique_projects[project['_id']] = project['name']
    
    # Now get just the names of these unique projects
    return list(unique_projects.values())

In [19]:
# client.drop_database('sorting-hat')

In [ ]:
# ['Computer Engineering', 'Environmental Engineering', 'Electrical Engineering', 'Mechanical Engineering', 'Design Engineering', 'Other']

In [18]:
all_projects

[{'_id': ObjectId('662d29a78b4e969c74f45c31'),
  'name': 'Project1',
  'majors': {'Computer Science': 2, 'Engineering': 2}},
 {'_id': ObjectId('662d29a78b4e969c74f45c32'),
  'name': 'Project2',
  'majors': {'Computer Science': 2, 'Engineering': 2}},
 {'_id': ObjectId('662d354b1656d3aa77664d35'),
  'name': 'test',
  'majors': {'Computer Engineering': 4,
   'Environmental Engineering': 0,
   'Electrical Engineering': 2,
   'Mechanical Engineering': 0,
   'Design Engineering': 0,
   'Other': 0}}]